@charset "UTF-8";

/* ----- form ----- */

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea {
  border: solid 1px var(--lightgray-color);
  border-radius: 4px;
  font-size: 1.4rem;
  line-height: 1;
  padding: 4px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 2px var(--main-color);
}
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
textarea:disabled {
  background-color: #e0e0e0;
  color: var(--gray-color)
}
textarea {
  resize: none;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
}
input[type="file"] {
  font-size: 1.4rem;
}
input[type="number"] {
  width: 3em;
}
input[name="postal1"] {
  width: 3em;
  margin-right: 4px;
}
input[name="postal2"] {
  width: 4em;
  margin-left: 4px;
}

/* ラジオボタン */
.radio-label {
  display: flex;
  align-items: center;
  float: left;
  height: auto;
  margin-right: 8px;
  cursor: pointer;
}
input[type="radio"] {
  position: relative;
  margin-right: 4px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid var(--lightgray-color);
}
input[type="radio"]::before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  display: none;
  height: 8px;
  width: 8px;
  background-color: var(--gray-color);
  border-radius: 50%;
}
input[type="radio"]:checked::before {
  display: block;
}
input[type="radio"]:disabled {
  background-color: #e0e0e0;
}

/* チェックボックス */

input[type="checkbox"] {
  position: relative;
  height: 16px;
  width: 16px;
  border: 2px solid var(--lightgray-color);
}
input[type="checkbox"]::before {
  display: none;
  position: absolute;
  top: -2px;
  left: 2px;
  content: "";
  height: 12px;
  width: 8px;
  border-right: 2px solid var(--gray-color);
  border-bottom: 3px solid var(--gray-color);
  transform: rotate(35deg);
}
input[type="checkbox"]:checked::before {
  display: block;
}
input[type="checkbox"]:disabled {
  background-color: #e0e0e0;
}

/* セレクトボックス */
/*
  作り方
  ラッパーつくる
  クリック領域はselectで
  装飾はラッパー
  自作ボタンはselect要素を邪魔しないように後ろに
*/
select {
  padding: 4px;
  padding-right: 24px;
  cursor: pointer;
}
.select-wrap {
  display: inline-block;
  position: relative;
  border: solid 1px var(--lightgray-color);
  border-radius: 4px;
  font-size: 1.4rem;
  cursor: pointer;
}
.select-wrap::after {
  position: absolute;
  top: 7px;
  right: 6px;
  content: "";
  width: 12px;
  height: 8px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid var(--gray-color);
  z-index: -1;
}

/* ----- table ----- */
/* 共通 */
table, th, td {
  border: solid 1px var(--lightgray-color);
  vertical-align: middle;
}
th, td {
  padding: 8px 16px;
}

.announce {
  color: var(--gray-color);
  font-size: 1.1rem;
}
.danger {
  color: var(--danger-color);
  font-size: 1.4rem;
}

/* データ */
.data-table {
  width: auto;
  margin-top: 16px;
}
.data-table,
.data-table th,
.data-table td {
  border: none;
}
.data-table th {
  border-top: solid 2px var(--lightgray-color);
  border-bottom: solid 2px var(--lightgray-color);
}
.data-table td {
  border-bottom: solid 1px var(--lightgray-color);
}

/* ログイン
---------------------------------------- */

/* login-form */
.login-form {
  width: 500px;
}
.login-form th {
  min-width: 150px;
}

/* スタッフ
---------------------------------------- */

/* staff-table */
.staff-table {
  max-width: 400px;
  margin-top: 16px;
}
.staff-table th {
  text-align: right;
  min-width: 170px;
}

/* 商品
---------------------------------------- */

/* product-table */
.product-table {
  max-width: 400px;
  margin-top: 16px;
}
.product-table th {
  text-align: right;
  min-width: 100px;
}
.product-table .pict-frame {
  width: 100%;
  height: 100%;
  justify-content: start;
}
.product-table .file-input {
  width: 100%;
  height: 100%;
  margin-top: 8px;
  line-height: 1.2;
}

/* 会員
---------------------------------------- */

/* member-table */
.member-table {
  max-width: 500px;
  margin-top: 16px;
}
.member-table th {
  text-align: right;
  min-width: 170px;
}

/* 注文
---------------------------------------- */

.order-container .data-table {
  font-size: 1.5rem;
}
.order-container input[type="text"] {
  width: auto;
}
.order-container input[type="text"].short-input {
  width: 80px;
}